<section class="section">
  <div class="container text-center">
    
  
  <h1>Events</h1>
  <% @events.each do |event| %>
  <div class="card">
   <div class="card-body">
    <h4 class="card-title"><strong><%= event.title %></strong></h4>
    <h6 class="card-subtitle mb-2 text-muted"><%= event.location %></h6>
    
    <h6 class="card-subtitle">Hosted by: <%= event.creator.name %></h6>
    <p class="card-link"><%= link_to "More details here", event %></p>

<% end %>

  </div>
</section>
