<h1 class="text-center">New Event</h1>
<div class="section">
<div class="container">
<div class="row justify-content-center">
<div class="col-8">
<%= render 'form', event: @event %>
 <%= link_to 'Back', events_path, class: "text-end" %>
</div>
</div>
</div>
</div>

